body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  width: 800px;
  height: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.card {
  width: 60%;
  height: 250px;
  background: linear-gradient(135deg, #1d3f7c, #184171);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  z-index: 1;
}

.card:before {
  top: 20px;
}

.card:after {
  bottom: 20px;
}

.card .chip {
  width: 60px;
  height: 40px;
  background: linear-gradient(45deg, #d0d0d0, #f0f0f0);
  border-radius: 8px;
  z-index: 2;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.card .numberCard {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
  animation: flicker 1s ease-in-out infinite;
}

.card .cardholderName {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
  animation: flicker 1s ease-in-out infinite;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.card .expiry-cvv {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
  z-index: 2;
  position: relative;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  font-size: 16px;
  background-color: #f9f9f9;
}

.input-group input:focus {
  border-color: #007bff;
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

hr {
  color: black;
  border-color: black;
}

.hidden {
  display: none;
}

select- {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  font-size: 12px;
  background-color: #f9f9f9;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 60%;
}
